body {
    height: 924px;
    display: flex;
    flex-direction: column;
    
    #app {
        display: flex;
        flex-direction: column;
        flex: 1 0;
        height: 100%;
        margin: -8px;
        
        .app-container {
            display: flex;
            flex-direction: column;
            flex: 1 0;
            height: 100%;

            header {
                h1 {
                    margin: 0;
                    width: 100%;
                }

                padding-left: 15px;
                padding-right: 15px;
                padding-top: 15px;
                flex: 0 1 55px;
                background-color: #66bccf;
            }

            .main-wrapper {
                display: flex;
                left: 0;
                flex: 1 0;
                height: calc(100% - 70px);

                aside {
                    flex: 0 1 170px;
                    height: 100%;
                    overflow: auto;
                    padding: 15px;

                    .routes {
                        list-style: none;
                    }
                }

                .content {
                    flex: 1 1 calc(100% - 200px);
                    height: 100%;
                    padding: 0px 20px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    background: #dadada;
                    
                    .todos-page {
                        width: 40%;
                        background: #fff;
                        box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;

                        .page-title {
                            text-align: center;
                        }

                        .add-section {
                            display: flex;
                            padding: 0px 15px;

                            #new-todo {
                                flex: 1 0 40%;
                                line-height: 1em;
                            }

                            .add-button {
                                text-align: right;
                                margin-left: 15px;
                                flex: 0 1;

                                .add-todo {
                                    border-radius: 5px;
                                    padding: 3px 4px;
                                    text-align: center;
                                    cursor: pointer;
                                    border: 1px solid #bababa;
                                    background: #eaeaea;
                                    color: #bababa;
                                    
                                    &:hover {
                                        border: 1px solid #30B430;
                                        color: #30B430;
                                    }
                                }
                            }
                        }


                        .todos-container {
                            width: 100%;
                            height: calc(100% - 70px);

                            .toggle-completed {
                                display: block;
                                margin: auto;
                            }

                            .actual-list {
                                list-style: none;
                                padding: 10px 20px;
                                overflow: auto;
                                // height: calc(100% - 85px);

                                li {
                                    margin-bottom: 10px;
                                    align-items: center;

                                    .non-editable, .editable {
                                        display: flex;
                                        flex: 1 0;
                                    }

                                    display: flex;

                                    &:last-child {
                                        margin: 0;
                                    }

                                    [type="text"] {
                                        flex: 1 0;
                                        font-size: 20px;

                                        &:focus {
                                            background: #f2f2f2;
                                        }
                                    }
                                    [type="checkbox"] {
                                        flex: 0 1 30px;
                                    }

                                    input {
                                        line-height: 1em;
                                    }

                                    .todo-name {
                                        flex: 1 0;
                                        display: inline-block;
                                        padding: 0 5px;
                                        font-size: 22px;
                                        line-height: 1em;
                                    }

                                    .todo-options {
                                        flex: 0 1 120px;
                                        display: flex;
                                        align-items: flex-end;
                                        justify-content: flex-end;

                                        i {
                                            cursor: pointer;
                                            border-radius: 3px;
                                            color: #fff;
                                            font-size: 25px;
                                            padding: 2px;
                                            margin: 0px 5px;

                                            &.delete {
                                                background: #FC413B;
                                            }

                                            &.edit {
                                                background: #40C6FC;
                                            }

                                            &.save {
                                                background: purple;
                                            }
                                        }
                                    }
                                }

                                .todo-text {
                                    background: transparent;
                                    border: 0;

                                    &.done {
                                        text-decoration: line-through;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    a {
        text-decoration: none;
        color: blue;
    }
}